body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #285570;
  color: white;
}

button {
  cursor: pointer;
}
