body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #285570;
  color: white;
}

button {
  cursor: pointer;
}

/*Responsive Grid Layout*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
  gap: 12px;
  padding: 20px;
}

/*Creating Card Styling*/
.shoe-card,
.cart-card {
  border: 0.5px solid gray;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
}

/*Responsive Images*/
.shoe-card img,
.cart.card img {
  max-width: 100%;
  height: auto;
}
